{% extends 'layout.html' %}

	{% block title %}Add a Brewery{% endblock %}
	
	{% block main %}
	<h1 class="mt-5 mb-5">Add a Brewery</h1>
	<form class="needs-validation m-5" action="/add_brewery" method="POST" novalidate>
		<div class="form-group">
			<input class="form-control" type="text" id="brewery" name="brewery" autofocus autocomplete="off" placeholder="Brewery" required>
			<div class="invalid-feedback">
				Enter a brewery name
			</div>
		</div>
		<div class="form-group">
			<input class="form-control" type="text" id="distributor" name="distributor" placeholder="Distributor" required>
			<div class="invalid-feedback">
				Enter a distributor
			</div>
		</div>
		<button class="btn btn-success" type="submit">Add</button>
	</form>
	<a href="/">Back</a>
	{% endblock %}