{% extends 'layout.html' %}

	{% block title %}Add a Beer to {{ brewery }}{% endblock %}
	
	{% block main %}
	<h1 class="mt-5 mb-5">{{ brewery }}</h1>
	<form class="needs-validation m-5" action="/breweries/{{ brewery }}/beers" method="post" novalidate>
		<div class="form-group">
			<input class="form-control" type="text" name="new_beer" autofocus autocomplete="off" placeholder="Beer name" required>
			<div class="invalid-feedback">
				Enter a beer name
			</div>
		</div>
		<div class="form-group m-1">
			<input class="form-control" type="text" name="price" autocomplete="off" placeholder="Price">
		</div>
		<div class="form-group m-1">
			<input class="form-control" type="text" name="abv" autocomplete="off" placeholder="ABV">
		</div>
		<div class="form-group mt-1 mb-3">
			<input class="form-control" type="text" name="style" autocomplete="off" placeholder="Style">
		</div>
		<button class="btn btn-primary" type="submit">Add beer</button>
	</form>
	<a href="/breweries/{{ brewery }}">Back</a>
	{% endblock %}