{% extends 'layout.html' %}

	{% block title %}{{ brewery }}{% endblock %}
	
	{% block main %}
	<h1 class="mt-5 mb-5">{{ brewery }}</h1>
	<div class="container mb-5">
		<div class="row">
			<div class="col">
				<h2 class="mt-5 mb-5">Distributor: <a href="/distributors/{{ distributor }}">{{ distributor }}</a></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm col-lg-9">
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th></th>
							<th>Beers</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for beer in beers %}
						<tr>
							<td></td>
							<td><a href="{{ brewery }}/beers/{{ beer[0] }}">{{ beer[0] }}</a></td>
							<td></td>
						</tr>
						{% endfor %}			
					</tbody>
				</table>
			</div>
			<div class="col-sm col-lg-3 text-left mr-auto ml-auto">
				<div class="row">
					<a class="btn btn-primary btn-lg btn-block" href="{{ brewery }}/update">Update distributor</a>
					<a class="btn btn-primary btn-lg btn-block" href="{{ brewery }}/beers/new">Add a beer</a>
					<a class="btn btn-primary btn-lg btn-block" href="/delete_beer/?brewery={{ brewery }}">Delete a beer</a>
				</div>
				<div class="row">
					<div class="container p-3 border mb-2 mt-2">
						<ul class="list-unstyled m-0">
							<li>Location: {{ location }}</li>
							<li>Website: <a href="{{ website }}">{{ website }}</a></li>
							{% if added_by %}
							<li><em>Added by {{ added_by[0] }}</em></li>
							{% endif %}
						</ul>								
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="/breweries">Back</a>
	{% endblock %}