{% extends 'layout.html' %}

	{% block title %}Delete a beer{% endblock %}

	{% block main %}
	<h1>{{ brewery }}</h1>
	<form action="/delete_beer" method="post">
		<div class="form-group">
			<label for="delete">Select a beer to delete: </label>
			<select class="form-control" id="delete" name="delete">
				{% for beer in beers %}
				<option value="{{ beer[0] }}">{{ beer[0] }}</option>
				{% endfor %}
			</select>
		</div>
		<button class="btn btn-primary" type="submit">Delete</button>
	</form>
	{% endblock %}