{% extends 'layout.html' %}

	{% block title %}Index{% endblock %}
	
	{% block main %}
	<h1 class="mt-5 mb-5">Welcome!</h1>
	<h4 class="mt-5 mb-5">Pick an option to get started.</h4>
	<div class="row">
		<div class="col-md-6 m-auto m-5">
			<a class="btn btn-primary btn-lg btn-block" href="/breweries">View all</a>
			<a class="btn btn-danger btn-lg btn-block" href="/search">Lookup a Brewery</a>
			<a class="btn btn-success btn-lg btn-block" href="/breweries/new">Add a Brewery</a>
			<a class="btn btn-warning btn-lg btn-block" href="/delete_brewery">Delete a Brewery</a>
		</div>
	</div>
	{% endblock %}