{% extends 'layout.html' %}

	{% block title %}Search{% endblock %}
	
	{% block main %}
	<h1 class="mt-5 mb-5">Search for a Brewery</h1>
	<form class="needs-validation mb-5" action="/results/", method="get" novalidate>
		<div class="form-group">
			<input class="form-control" type="text" name="brewery" autofocus autocomplete="off" placeholder="Search" required>
			<div class="invalid-feedback">
				Enter a brewery name
			</div>
		</div>
			<button class="btn btn-danger" type="submit">Search</button>
	</form>
	<a href="/">Back</a>
	{% endblock %}