{% extends 'layout.html' %}

	{% block title %}Update {{ brewery }}{% endblock %}

	{% block main %}
	<h1 class="mt-5 mb-5">{{ brewery }}</h1>
	<form action="/update/?brewery={{ brewery }}" method="post">
		<div class="form-group">
			<select class="form-control" name="new_distributor">
				{% for distributor in distributors %}
				<option value="{{ distributor[0] }}">{{ distributor[0] }}</option>
				{% endfor %}
			</select>
		</div>
		<button class="btn btn-primary" type="submit">Update</button>
	</form>
	{% endblock %}