
{% extends 'layout.html' %}

	{% block title %} View All {% endblock %}

	{% block main %}
	<h1>List View</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Brewery</th>
				<th>Distributor</th>
			</tr>
		</thead>
		<tbody>
		{% for brewery in breweries %}
			<tr>
				<td><a href="/breweries/{{ brewery[1] }}">{{ brewery[1] }}</a></td>
				<td><a href="/distributors/{{ brewery[2] }}">{{ brewery[2] }}</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<a href="/add_brewery">Add a Brewery</a>
	<a href="/delete_brewery">Delete a Brewery</a>
	<a href="/">Back</a>
	{% endblock %}