
{% extends 'layout.html' %}

	{% block title %} View All {% endblock %}

	{% block main %}
	<h1 class="mt-5 mb-5">List View</h1>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>Brewery</th>
				<th>Distributor</th>
			</tr>
		</thead>
		<tbody>
		{% for brewery in breweries %}
			<tr>
				<td><a href="/breweries/{{ brewery[1] }}">{{ brewery[1] }}</a></td>
				<td><a href="/distributors/{{ brewery[2] }}">{{ brewery[2] }}</a></td>
			</tr>
			<tr>
				<td colspan="3" class="hidden-row"><p>Toggling content</p></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<a href="/">Back</a>
	{% endblock %}